

.hidden {
    display: none;
  }

* {
  margin: 7;
  box-sizing: border-box;
} 

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #d2e5e5;
  /* background-color: #60b347; */
}

h1 {
  text-align: center;
  margin-right:400px;
  margin-left:400px;
  font-family: monospace;
  font-size: 45px;
  color: #1a2c53
}

.budget {
  float: right;
  width: 400px;
  justify-content: flex-end;
}


.assign-budget {
  width: 270px;
  height:115px;
  position: relative;
  margin-right: 20px;  
  margin-left: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  background-color: #fbd1a2;
  border-radius: 100px;
  border-style: double;
  border-width: 10px;
  border-color: #f79256;
}

.known-budget {
  width: 290px;
  height: 60px;
  padding:12px;
  margin: 20px;
  margin-top: 10px;
  text-align: center;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbd1a2;
  border-radius: 100px;
  border-style: double;
  border-width: 10px;
  border-color: #f79256;
}


.budget-number {
  background-color: rgb(196, 223, 242);
  border-color: rgb(196, 223, 242);
  color: #1a2c53;
}

.budget-number::placeholder {
  background-color: rgb(196, 223, 242);
  color: #1a2c53
}

.budget-check {
  background-color: #ee6c4d;
}

.change-known-budget {
  width: 170px;
  margin-left: 80px;
  background-color: #ee6c4d;
  font-size: 15px;
  border-radius: 40px;
}

.change-known-budget:hover {
  background-color: rgb(26, 69, 121);
  color: rgb(223, 240, 255);
}

.changing-the-budget {
  width: 300px;
  height: 100px;
  margin-top: 17px;
  margin-left: 13px;
  text-align: center;
  background-color: #fbd1a2;
  border-radius: 100px;
  border-style: double;
  border-width: 10px;
  border-color: #f79256;
}

.change-budget-form {
  margin-top: 10px;
}

.changed-budget {
background-color: rgb(196, 223, 242);
border-color: rgb(196, 223, 242);
color: #1a2c53
}

.changed-budget-check {
  background-color: #ee6c4d;
}


.create-list-title {
  position: relative;
  color:#1a2c53;
  margin-left: 40px;
  margin-bottom: 10px
}

.btn-create-list{
  background-color: #f79256;
  font-size: 17px;
  width: 120px;
  height: 50px;
  margin-left: 130px
}
.assign-list-name {
  margin-bottom:20px;
  margin-top:20px
}

.p-list-name{
  margin-left: 40px;
}

.list-name-check{
  color:#1a2c53;
  background-color: #ee6c4d;
}

.list-name {
  background: #fbd1a2;
  border-color: #219ebc;
}

.list-item {
  margin-left: 40px;
  margin-top: 7px;
  margin-bottom: 20px
}

.assign-item{
  margin-top: 15px;
}

.item-name {
  background: #fbd1a2;
  border-color: #219ebc;
}

.item-name-check{
  color:#1a2c53;
  background-color: #ee6c4d;
}

.list-name-div{
  display: flex;
  align-items: center;
}

.List-Name {
  margin: 10px;
  margin-left: 50px;
  width: 400px;
  font-size: 20px;
  height: 40px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
  border-radius: 50px;
  background-color: #8ecae6;
}

.list-of-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 15px;
}

.delete-btn {
  margin: 7px;
  background-color: #8ecae6;
  border-radius: 15px;
}

.info-btn {
  margin: 7px;
  background-color: #219ebc;
  height: 30px;
  border-radius: 40px;
}

.price-btn {
  background-color: #219ebc;
  margin: 5px;
}

.amount-btn {
  background-color: #219ebc;
  margin: 5px;
}

.price-input {
  position: relative;
  background-color: #fbd1a2;
  border-color: #219ebc;
}

.amount-input {
  position: relative;
  background-color: #fbd1a2;
  border-color: #219ebc;
}

.done-btn {
  background-color: #ee6c4d;
}

.displayed-info {
  display:flex;
  flex-direction: column;
  margin: 5px;
}

.change-info-btn{
  margin: 10px;
  background-color: #219ebc;
  border-radius: 40px;
}

.category-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

